# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db